@model UsefulNotifications.Website.Controllers.FilmsWithGoodRatingNotifications.IndexViewModel

@{
    ViewData["Title"] = "Upozornění na filmy s dobrým hodnocením v místním kině";
}

<div class="text-center">
    <h2>
        Upozornění na filmy s dobrým hodnocením v místním kině.
        Hodnocení filmu podle <a href="https://www.imdb.com">IMDb</a> nebo <a href="https://www.csfd.cz">ČSFD</a>.
    </h2>
</div>
<div class="text-left">
    <form method="get" asp-action="SearchForFilms">

        Země<br />
        <select asp-for="CountryCode" asp-items="@Model.Countries"></select><br />
        <br />

        Hodnocení podle<br />
        <select asp-for="RatingSource" asp-items="@Model.RatingSources"></select><br />
        <br />

        <div id="csfdLocationSection" @Html.Raw( Model.IsCountrySupportingCsfdSelected ? "" : "style=\"display: none\"" )>
            Město<br />
            <input asp-for="CsfdLocation" /><br />
            <br />
        </div>

        <div id="postCodeSection" @Html.Raw( Model.IsCountrySupportingCsfdSelected ? "style=\"display: none\"" : "" )>
            Poštovní směrovací číslo<br />
            <input asp-for="ImdbPostCode" /><br />
            <br />
        </div>

        <div id="csfdRatingSection" @Html.Raw( Model.IsCsfdRatingSelected ? "" : "style=\"display: none\"" )>
            Minimální hodnocení podle ČSFD (0 nejhorší, 100 nejlepší)<br />
            <input type="number" asp-for="CsfdMinimalRating" min="0" max="100" step="1" pattern="[0-9]*" />%<br />
            <br />
        </div>

        <div id="imdbRatingSection" @Html.Raw( Model.IsCsfdRatingSelected ? "style=\"display: none\"" : "" )>
            Minimální hodnocení podle IMDB (0 nejhorší, 10 nejlepší)<br />
            <input type="number" asp-for="ImdbMinimalRating" min="0" max="10" step="0.1" pattern="[0-9]+([\.,][0-9]+)?" /><br />
            <br />
        </div>

        <input type="submit" value="Hledej filmy" /><br />
    </form>
</div>
@section Scripts {
    <script>
        var ratingSource = $("select[name='RatingSource']");

        initializeRatingSourceSelectionVisibility();
        initializeCountrySelectionVisibility();
        
        function initializeRatingSourceSelectionVisibility() {
            ratingSource.change(function() {
                var isCsfdRatingSelected = this.value == "CSFD";
                var csfdRatingSection = $("#csfdRatingSection");
                var imdbRatingSection = $("#imdbRatingSection");

                if (isCsfdRatingSelected)
                {
                    csfdRatingSection.show();
                    imdbRatingSection.hide();
                }
                else
                {
                    csfdRatingSection.hide();
                    imdbRatingSection.show();
                }
            });
        }

        function initializeCountrySelectionVisibility() {
            $("select[name='CountryCode']").change(function() {
                var isCsfdCompatibleCountrySelected = this.value == "CZ" || this.value == "SK";
                var csfdLocationSection = $("#csfdLocationSection");
                var postCodeSection = $("#postCodeSection");

                var ratingSourceCsfdOption = ratingSource.find("option[value='CSFD']");

                if (isCsfdCompatibleCountrySelected) {
                    csfdLocationSection.show();
                    postCodeSection.hide();

                    ratingSourceCsfdOption.show();
                    ratingSource.val("CSFD");
                    ratingSource.change();
                }
                else
                {
                    csfdLocationSection.hide();
                    postCodeSection.show();

                    ratingSourceCsfdOption.hide();
                    ratingSource.val("IMDB");
                    ratingSource.change();
                }

            });
        }
    </script>
}
