@model UsefulNotifications.Website.Controllers.FilmsWithGoodRatingNotifications.SearchForFilmsViewModel

@{
    ViewData["Title"] = "Nalezené filmy s dobrým hodnocením";
}

<div class="text-center">
    <h2>Nalezené filmy s dobrým hodnocením</h2>
</div>
<div class="text-left">
    <a asp-action="Index" asp-all-route-data="@Model.SearchFilmsArgs.ToRouteData()">Upravit hledání</a><br />
    <br />
    <form method="post" asp-action="AddNotification">
        <ul>
            @foreach (var film in Model.Films)
            {
                <li>
                    <a href="@film.FilmMainUrl">@film.FilmName</a>, hodnocení
                    @foreach (var rating in film.Ratings)
                    {
                        @rating.Rating <text> (</text><a href="@rating.FilmUrl">@rating.RatingSource</a><text>), </text>
                    }
                    @for (var i = 0; i < film.Cinemas.Count(); i++)
                    {
                        if (i != 0) { <text>, </text> }
                        @film.Cinemas.ElementAt(i)
                    }
                </li>
            }
        </ul>
        <p>
            Chcete dostávat emailové upozornění na filmy s dobrým hodnocením emailem?
        </p>
        <input type="submit" value="Přidej upozornění" />
    </form>
</div>